<%= form_for user, url: profile_path, html: {multipart: true, class: "user-profile-form"},
  remote: true, authenticity_token: true do |f| %>
  <div class="col-md-3 avatar">
    <%= image_tag @user.avatar.url, class: "image-responsive", alt: @user.name %>
    <label class="btn btn-primary btn-sm btn-file">
      <%= t ".btn_avatar" %> <%= f.file_field :avatar,
        class: "btn btn-file hidden btn-change-ava" %>
    </label>
  </div>
  <div class="col-md-9 profile-info">
    <div class="row">
      <div class="form-group form-horizontal-group">
        <%= f.label :name, t(".name"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :gender, t(".gender"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.select :gender, form.genders.reverse, {}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :blood_type, t(".blood_type"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.select :blood_type, form.blood_types, {include_blank: true},
            class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :id_number, t(".id_number"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_field :id_number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :phone_number, t(".phone_number"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_field :phone_number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :phone_number_2, t(".phone_number_2"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_field :phone_number_2, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :facebook_account, t(".facebook_account"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_field :facebook_account, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :place_of_birth, t(".place_of_birth"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_field :place_of_birth, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <%= f.label :address, t(".address"), class: "col-md-3 label-control" %>
        <div class="col-md-9">
          <%= f.text_area :address, class: "form-control autosize", row: 3, id: "user-address" %>
          <%= f.hidden_field :formatted_address, id: "user-formatted-address" %>
          <%= f.hidden_field :lat, id: "user-lat" %>
          <%= f.hidden_field :lon, id: "user-lon" %>
        </div>
      </div>
      <div class="form-group form-horizontal-group">
        <div class="col-md-12">
          <%= f.button t(".btn_submit"), class: "btn btn-sm btn-primary pull-right",
            id: "btn-submit", type: :button %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= content_for :specific_page_js do %>
  <%= javascript_include_tag "autosize.min.js" %>
  <script type="text/javascript">
    <%= render "profiles/change_avatar.js" %>
    <%= render "profiles/get_location.js" %>
    <%= render "shared/auto_size.js" %>
  </script>
<% end %>
