<tr>
  <td colspan="1"><%= event.id %></td>
  <td colspan="4">
    <%= link_to event.title, guest_event_path(event.title_slug), target: :_blank,
      class: "text-clamp-2", title: event.title %>
  </td>
  <td colspan="2"><%= event.display_status %></td>
  <td colspan="2"><%= event.display_status_2 %></td>
  <td colspan="2">
    <span class="no-wrap">
      <%= l event.date_time.to_datetime, format: :article_timestamp %>
    </span>
  </td>
  <td class="text-center"><%= event.views %></td>
  <td colspan="1" class="btn-actions text-center">
    <div class="no-wrap">
      <%= link_to edit_admin_event_path(event), class: "btn-edit" do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
      <%= link_to admin_event_path(event), class: "btn-destroy",
        data: {confirm: "Xác nhận xóa sự kiện này?", method: :delete} do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
    </div>
  </td>
</tr>
