<tr>
  <td colspan="1"><%= event.id %></td>
  <td colspan="4"><%= link_to event.title, [:admin, event], target: :_blank %></td>
  <td colspan="2"><%= event.display_status %></td>
  <td colspan="2"><%= l event.date_time, format: :article_timestamp %></td>
  <td colspan="1" class="btn-actions text-center">
    <%= link_to edit_admin_event_path(event), class: "btn-edit" do %>
      <i class="material-icons">mode_edit</i>
    <% end %>
    <%= link_to admin_event_path(event), class: "btn-destroy",
      data: {confirm: "Xác nhận xóa sự kiện này?", method: :delete} do %>
      <i class="material-icons">delete_forever</i>
    <% end %>
  </td>
</tr>
