<div class="container-fluid">
  <div class="row filter-row">
    <div class="col-md-12">
      <%= link_to "Thêm Bài Viết", new_admin_article_path, class: "btn btn-primary no-margin" %>
      <%= search_form_for @q, url: admin_articles_path, method: :get, id: "admin-search",
        class: "navbar-form header-form navbar-right filter-form-customize" do |f| %>
        <% if params[:q] %>
          <%= link_to admin_articles_path, class: "btn-clear-search" do %>
            <i class="fa fa-close"></i>
          <% end %>
        <% end %>
        <div class="form-group is-empty">
          <%= f.search_field :title_or_content_cont, class: "form-control",
            placeholder: "Tìm kiếm...", title: "Tìm kiếm bằng tiêu đề hoặc nội dung." %>
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <tr>
                <th>
                  <%= sort_link @q, :id do %>
                    ID
                    <span class="<%= visible_unsorted_icon :id %>">&nbsp;
                      <i class="fa fa-unsorted"></i>
                    </span>
                  <% end %>
                </th>
                <th>Tiêu Đề</th>
                <th>
                  <%= sort_link @q, :is_public do %>
                    Trạng thái
                    <span class="<%= visible_unsorted_icon :is_public %>">&nbsp;
                      <i class="fa fa-unsorted"></i>
                    </span>
                  <% end %>
                </th>
                <th>
                  <%= sort_link @q, :created_at do %>
                    Ngày đăng
                    <span class="<%= visible_unsorted_icon :created_at %>">&nbsp;
                      <i class="fa fa-unsorted"></i>
                    </span>
                  <% end %>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="results">
              <% if @articles.any? %>
                <%= render @articles.decorate %>
              <% else %>
                <tr>
                  <th colspan="6">Không có dữ liệu.</th>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @articles %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
  </script>
<% end %>
