<%= render "layouts/banner", banner_text: nil %>
<section id="courseArchive">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="courseArchive_content">
          <div class="row">
            <div class="col-lg-12 col-12 col-sm-12">
              <div class="single_blog">
                <% unless @article.is_pinned? %>
                  <div class="events_slider_area">
                    <div class="events_slider">
                      <div><%= image_tag @article.image.large.url, alt: @article.title %></div>
                    </div>
                  </div>
                <% end %>
                <h2 class="blog_title">
                  <%= link_to @article.title, guest_article_path(@article.title_slug) %>
                </h2>
                <div class="blog_commentbox">
                  <p class="no-border">
                    <i class="fa fa-clock-o"></i>&nbsp;<%= @article.formated_timestamp %>
                  </p>
                  <div class="social-share-block pull-right">
                    <%= social_share_button_tag @article.title %>
                  </div>
                </div>
                <div class="article-content">
                  <%= @article.content.html_safe %>
                </div>
              </div>
              <div class="like-share-fb">
                <div class="fb-like" data-href="<%= guest_article_url @article.title_slug %>"
                  data-layout="standard" data-action="like" data-size="large"
                  data-show-faces="true" data-share="true">
                </div>
              </div>
            </div>
          </div>
          <div class="fb-comments" data-href="<%= guest_article_url @article.title_slug %>"
            data-width="750" data-numposts="5">
          </div>
        </div>
      </div>
      <%= render "shared/right_bar" %>
    </div>
  </div>
</section>

<%= content_for :script_after_body do %>
  <div id="fb-root"></div>
  <script>
    <%= render "shared/facebook_social_plugins.js" %>
  </script>
<% end %>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "shared/update_views.js", updating_views_path: ajax_updating_views_article_path(@article) %>
  </script>
<% end %>
