<tr>
  <td><%= history.id %></td>
  <td><%= link_to history.user_name, history.user, target: :_blank %></td>
  <td>
    <%= link_to [:admin, :histories, {q: {place_id_eq: history.place_id}}],
      title: history.place_address do %>
      <%= history.place_name %>
    <% end %>
  </td>
  <td><%= history.display_donation_type %></td>
  <td>
    <span class="no-wrap"><%= history.timestamp %></span>
  </td>
  <td>
    <% if history.admin %>
      <%= link_to history.admin_name, [:admin, :histories, {q: {admin_id_eq: history.admin_id}}] %>
    <% end %>
  </td>
  <td class="btn-actions text-center">
    <%= link_to [:admin, history], class: "btn-destroy",
      data: {confirm: "Xác nhận xóa lịch sử hiến máu này?", method: :delete} do %>
      <i class="material-icons">delete_forever</i>
    <% end %>
  </td>
</tr>
