<div class="card-content table-responsive">
  <table class="table table-hover">
    <thead class="text-primary">
      <tr>
        <th>
          <%= sort_link q, :id do %>
            ID
            <span class="<%= visible_unsorted_icon :id %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th>
          <%= sort_link q, :user_id do %>
            Người Dùng
            <span class="<%= visible_unsorted_icon :user_id %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th>
          <%= sort_link q, :place_id do %>
            Cơ sở tiếp nhận
            <span class="<%= visible_unsorted_icon :place_id %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th>
          <%= sort_link q, :volume do %>
            Số lượng
            <span class="<%= visible_unsorted_icon :volume %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th>
          <%= sort_link q, :created_at do %>
            Ngày hiến
            <span class="<%= visible_unsorted_icon :created_at %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th>
          <%= sort_link q, :admin_id do %>
            Người tạo
            <span class="<%= visible_unsorted_icon :admin_id %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody class="results">
      <% if histories.any? %>
        <%= render histories.decorate %>
      <% else %>
        <tr>
          <th colspan="6">Không có dữ liệu.</th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate histories %>
</div>
