<div class="container-fluid">
  <div class="row filter-row-2">
    <div class="col-md-12 thin-row">
      <%= link_to "Thêm mới", [:new, :admin, :history], class: "btn btn-primary no-margin" %>
      <%= search_form_for @q, url: [:admin, :histories], method: :get, id: "admin-search",
        class: "navbar-form header-form navbar-right filter-form-customize" do |f| %>
        <%= link_to [:admin, :histories], class: "btn-clear-search hidden" do %>
          <i class="fa fa-close"></i>
        <% end %>
        <%= f.text_field :date_gteq, class: "form-control date-picker dp-1", placeholder: "Từ ngày...", title: "Từ ngày..." %>
        <%= f.text_field :date_lteq, class: "form-control date-picker dp-2", placeholder: "Đến ngày...", title: "Đến ngày..." %>
        <%= f.search_field @default_search_by, class: "form-control search-key",
          placeholder: "Tìm kiếm...", title: "Tìm kiếm theo tên người dùng hoặc tên địa cơ sở tiếp nhận" %>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
        <% Settings.histories.search_items.each_with_index do |item, i| %>
          <label class="search-criteria">
            <%= radio_button_tag :search_by, item[1], item[1].to_s == @default_search_by, class: "rd-search-by" %>
            <%= t ".search_by.#{item[0]}" %>
          </label>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 stats-row">
      <%= render "stats", stats: @stats %>
      <%= link_to admin_histories_path(format: :xls), id: "download-links", target: :_blank,
        rel: :nofollow, class: "pull-right btn btn-success btn-sm #{:disabled if @histories.empty?}",
        title: "Tải về file excel: #{@file_name}", disabled: @histories.empty? do %>
        <i class="fa fa-file-excel-o"></i>&nbsp;Xuất thành file Excel
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="search-results">
        <%= render "table_result", q: @q, histories: @histories %>
      </div>
    </div>
  </div>
</div>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "filter_form.js" %>
  </script>
<% end %>
