<div class="container-fluid">
  <div class="row filter-row-2">
    <div class="col-md-12 thin-row">
      <%= link_to "Thêm mới", [:new, :admin, :history], class: "btn btn-primary no-margin" %>
      <%= search_form_for @q, url: [:admin, :histories], method: :get, id: "admin-search",
        class: "navbar-form header-form navbar-right filter-form-customize" do |f| %>
        <% if params[:q] %>
          <%= link_to [:admin, :histories], class: "btn-clear-search" do %>
            <i class="fa fa-close"></i>
          <% end %>
        <% end %>
        <%= f.text_field :date_gteq, class: "form-control date-picker dp-1", placeholder: "Từ ngày...", title: "Từ ngày..." %>
        <%= f.text_field :date_lteq, class: "form-control date-picker dp-2", placeholder: "Đến ngày...", title: "Đến ngày..." %>
        <%= f.search_field :user_name_or_place_name_cont, class: "form-control",
          placeholder: "Tìm kiếm...", title: "Tìm kiếm theo tên người dùng hoặc tên địa cơ sở tiếp nhận" %>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="search-results">
        <%= render "table_result", q: @q, histories: @histories %>
      </div>
    </div>
  </div>
</div>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "filter_form.js" %>
  </script>
<% end %>
