<% provide :title, "Khôi phục thông tin đã bị xoá" %>

<div class="container-fluid" id="restore-app">
  <master>
    Đang tải...
  </master>
  <!-- <div class="row filter-row-2">
    <div class="col-md-12">
      <%= link_to "Thêm mới", [:new, :admin, :patient], class: "btn btn-primary no-margin" %>
      <%# search_form_for @q, url: [:admin, :patients], method: :get, id: "admin-search",
        class: "navbar-form header-form navbar-right filter-form-customize" do |f| %>
        <%# link_to [:admin, :patients], class: "btn-clear-search hidden" do %>
          <i class="fa fa-close"></i>
        <%# end %>
        <%# f.search_field :name_or_id_number_or_phone_number_or_address_cont, class: "form-control search-key",
          placeholder: "Tìm kiếm...", title: "Tìm kiếm theo tên, số CMND, số ĐT hoặc địa chỉ người bệnh." %>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      <%# end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 stats-row">
      <%# render "stats", stats: @stats %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-2">
        <%# render "table_result", patients: @patients %>
      </div>
    </div>
  </div> -->
</div>

<%= content_for :specific_page_css do %>
  <%= stylesheet_pack_tag 'restore' %>
<% end %>

<%= content_for :specific_page_js do %>
  <%= javascript_pack_tag 'restore' %>
<% end %>
