<tr>
  <td><%= history_counter + 1 %></td>
  <td>
    <span title="<%= history.place_address %>">
      <%= history.place_name %>
    </span>
  </td>
  <td><%= history.display_volume %></td>
  <td><%= l history.date, format: :default_date %></td>
  <td class="text-center">
    <span class="material-icons-sm icon-<%= history.is_verified? ? "verified" : "unverified" %>"
      title="<%= history.is_verified? ? "Đã xác thực" : "Chưa xác thực" %>">
      <i class="material-icons">beenhere</i>
    </span>
  </td>
</tr>
