<h2>
  <%= link_to user, class: "normal-text" do %>
    <%= user.name&.titleize %>&nbsp;<span class="fa fa-angle-double-right"></span>
  <% end %>
  <% if can? :edit, user %>
    <span class="pull-right text-small">
      <%= link_to edit_user_path(user), class: "normal-text" do %>
        <i class="fa fa-edit"></i>&nbsp;Sửa
      <% end %>
    </span>
  <% end %>
</h2>
<div class="row">
  <div class="col-md-3">
    <%= avatar_for user, width: "100%" %>
  </div>
  <div class="col-md-9">
    <table class="profile-table">
      <tr>
        <td>Họ và Tên:</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= user.try :email %></td>
      </tr>
      <tr>
        <td>Ngày sinh:</td>
        <td><%= l user.birthday, format: :default_date if user.birthday? %></td>
      </tr>
      <tr>
        <td>Số CMND:</td>
        <td><%= user.id_number %></td>
      </tr>
      <tr>
        <td>Giới tính:</td>
        <td><%= user.display_gender %></td>
      </tr>
      <tr>
        <td>Nhóm máu:</td>
        <td><%= user.display_blood_type %></td>
      </tr>
      <tr>
        <td>Số lần hiến máu:</td>
        <td><%= histories.size %></td>
      </tr>
      <tr>
        <td>Số điện thoại:</td>
        <td><%= user.phone_number %> <%= " - #{user.phone_number_2}" if user.phone_number_2.present? %></td>
      </tr>
      <tr>
        <td>Địa chỉ:</td>
        <td><%= user.address %></td>
      </tr>
      <tr>
        <td>Nguyên quán:</td>
        <td><%= user.place_of_birth %></td>
      </tr>
      <tr>
        <td>Địa chỉ Facebook:</td>
        <td>
          <% if user.facebook_account.present? %>
            <%= link_to fb_info[:profile_url], target: :_blank do %>
              <%= image_tag fb_info[:avatar_src], height: 48, width: 48, class: "sm-fb-pic" %>
              <span class="fb-cover-name"><%= fb_info[:cover_name] %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Tham gia từ ngày:</td>
        <td><%= l user.created_at.to_date, format: :default_date %></td>
      </tr>
    </table>
  </div>
</div>
