<%= render "layouts/banner", banner_text: nil %>
<section id="courseArchive">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="courseArchive_content event-details">
          <div class="row">
            <div class="col-lg-12 col-12 col-sm-12">
              <div class="single_blog">
                <div class="events_slider_area">
                  <div class="events_slider">
                    <div><%= image_tag @event.image.url, alt: @event.title %></div>
                  </div>
                </div>
                <div class="event-title">
                  <% if @event.is_expired? %>
                    <div class="corner-ribbon top-right sticky red shadow">
                      <span>Đã qua</span>
                    </div>
                  <% end %>
                  <h2 class="blog_title">
                    <%= link_to @event.title, guest_event_path(@event.title_slug) %>
                  </h2>
                </div>
                <div class="blog_commentbox">
                  <p class="no-border">
                    <i class="fa fa-clock-o"></i>&nbsp;<%= @event.formated_timestamp %>
                  </p>
                  <div class="social-share-block pull-right">
                    <%= social_share_button_tag @event.title %>
                  </div>
                </div>
                <div class="article-content">
                  <%= @event.content.html_safe %>
                </div>
                <div class="map" id="event-map"></div>
                <p class="map-caption">
                  <b><%= @event.place_name %></b><br>
                  <%= @event.place_formatted_address || @event.place_address %>
                </p>
              </div>
              <div class="like-share-fb">
                <div class="fb-like" data-href="<%= guest_article_url @event.title_slug %>"
                  data-layout="standard" data-action="like" data-size="large"
                  data-show-faces="true" data-share="true">
                </div>
              </div>
            </div>
          </div>
          <div class="fb-comments" data-href="<%= guest_article_url @event.title_slug %>"
            data-width="750" data-numposts="5">
          </div>
        </div>
      </div>
      <%= render "shared/right_bar" %>
    </div>
  </div>
</section>

<%= content_for :script_after_body do %>
  <div id="fb-root"></div>
  <script>
    <%= render "shared/facebook_social_plugins.js" %>
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5WpyjImkemkAiHkeZQYqHEc5ybF0uIIg&libraries=places"></script>
<% end %>

<%= content_for :specific_page_js do %>
  <%= javascript_include_tag "locationpicker/locationpicker.jquery.min.js" %>
  <script type="text/javascript">
    <%= render "location_picker.js", event: @event %>
    <%= render "shared/update_views.js", updating_views_path: ajax_updating_views_event_path(@event) %>
  </script>
<% end %>
