<tr>
  <td class="btn-actions text-center non-break-line">
    <div class="no-wrap">
      <%= link_to [:admin, patient], class: "btn-destroy", method: :delete,
        data: {confirm: "Xác nhận xóa bệnh nhân: \"#{patient.name}\" khỏi hệ thống?"}, title: "Xóa" do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
      <%= link_to [:edit, :admin, patient], class: "btn-edit", title: "Chỉnh sửa" do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
    </div>
  </td>
  <td><%= patient.id %></td>
  <td><%= link_to patient.name, [:admin, patient] %></td>
  <td><%= patient.display_gender %></td>
  <td><%= patient.display_blood_type %></td>
  <td><%= patient.pathological %></td>
  <td class="non-break-line">
    <%= format_phone_number patient.phone_number %>
    <%= "<br>#{format_phone_number patient.phone_number_2}" if patient.phone_number_2? %>
  </td>
  <td><%= patient.address %></td>
  <td><%= simple_format patient.description %></td>
  <td class="btn-actions text-center non-break-line">
    <div class="no-wrap">
      <%= link_to [:edit, :admin, patient], class: "btn-edit", title: "Chỉnh sửa" do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
      <%= link_to [:admin, patient], class: "btn-destroy", method: :delete,
        data: {confirm: "Xác nhận xóa bệnh nhân: \"#{patient.name}\" khỏi hệ thống?"}, title: "Xóa" do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
    </div>
  </td>
</tr>
