<div class="card-content table-responsive">
  <table class="table table-hover" id="table-long-width">
    <thead>
      <tr>
        <th></th>
        <th>
          <%= sort_link @q, :id do %>
            ID
            <span class="<%= visible_unsorted_icon :id %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th class="min-wid-200">
          <%= sort_link @q, :name do %>
            Họ và Tên
            <span class="<%= visible_unsorted_icon :name %>">&nbsp;
              <i class="fa fa-unsorted"></i>
            </span>
          <% end %>
        </th>
        <th>Giới Tính</th>
        <th>Nhóm Máu</th>
        <th class="min-wid-200">Bệnh Lý</th>
        <th class="non-break-line">SĐT</th>
        <th class="min-wid-200">Địa Chỉ</th>
        <th class="min-wid-200">Ghi Chú</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render patients.decorate %>
    </tbody>
  </table>
  <%= paginate patients %>
</div>
