<% provide :title, @patient.name.try(:titleize) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">
            Thông tin chi tiết bệnh nhân:
            <strong><%= @patient.name %></strong>
          </h4>
          <p class="category"></p>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <%= render "patient_profile", patient: @patient %>
            </div>
            <div class="col-md-5 col-sm-12">
              <%= render "patient_photos", patient: @patient %>
            </div>
            <div class="col-md-12">
              <%= render "donators", patient: @patient, q: @q, donators: [] %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :modal_bottom_page do %>
  <div class="modal-wrapper"></div>
<% end %>
