<li>
  <div class="media">
    <div class="media-left">
      <%= link_to "#", class: "news_img" do %>
        <%= image_tag event.image.small, class: "media-object", alt: event.title %>
      <% end %>
    </div>
    <div class="media-body">
      <%= link_to "#" do %>
        <%= event.title %>
      <% end %>
     <span class="feed_date"><%= l event.date_time.to_datetime, format: :article_timestamp %></span>
    </div>
  </div>
</li>
