<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.display_gender %></td>
  <td><%= user.display_role %></td>
  <td><%= user.try :email %></td>
  <td class="btn-actions text-center">
    <%= link_to edit_admin_administrator_account_path(user), class: "btn-edit" do %>
      <i class="material-icons">settings</i>
    <% end %>
    <% if user == current_user %>
      <%= link_to "javascript:void(0);", class: "btn-destroy disabled" do %>
        <i class="material-icons">delete</i>
      <% end %>
    <% else %>
      <%= link_to "javascript:void(0)", class: "btn-destroy",
        data: {name: user.name&.titleize, href: admin_administrator_account_path(user), id: user.id} do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
    <% end %>
  </td>
</tr>
