<tr>
  <td><%= user.id %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.display_gender %></td>
  <td><%= user.display_role %></td>
  <td><%= user.email %></td>
  <td class="btn-actions text-center">
    <% unless user == current_user %>
      <%= link_to edit_admin_administrator_account_path(user), class: "btn-edit" do %>
        <i class="material-icons">settings</i>
      <% end %>
      <%= link_to edit_admin_administrator_account_path(user), class: "btn-destroy" do %>
        <i class="material-icons">delete_forever</i>
      <% end %>
    <% end %>
  </td>
</tr>
