<% provide :title, @user.name.try(:titleize) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Cài đặt quyền</h4>
          <p class="category">Chọn quyền và nhập lại mật khẩu của bạn để xác nhận.</p>
        </div>
        <div class="card-content">
          <div class="row">
            <%= render "admin/administrator_accounts/set_authentication", user: @user %>
            <%= render "admin/administrator_accounts/set_admin_form",
              user: @user, form: @form %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <%= render "admin/administrator_accounts/profile", user: @user %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" data-background-color="purple">
          <h4 class="title">Cài đặt quyền</h4>
          <p class="category">
            <ul class="list">
              <li>Cài đặt quyền ngắn hạn cho admin để có thể thêm lịch sử hiến máu trong một khoảng thời gian ngắn.</li>
              <li>Chỉ dành cho tài khoản <b>Admin có giới hạn</b>.</li>
            </ul>
          </p>
        </div>
        <div class="card-content">
          <%= render "admin/administrator_accounts/set_limited_admin_form",
            admin_history: @admin_history, user: @user, place_form: @place_form %>
        </div>
      </div>
    </div>
  </div>
  <% if @admin_histories.any? %>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Lịch sử được cấp quyền admin</h4>
          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover table-ad-history">
              <thead class="text-primary">
                <th>#</th>
                <th>Cấp bởi</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Tại cơ sở</th>
                <th>Ngày cấp</th>
                <th></th>
              </thead>
              <tbody>
                <%= render collection: @admin_histories, partial: 'admin/administrator_accounts/admin_history' %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%# render "shared/submit_selectbox.js" %>
  </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.btn-destroy').click(function() {
        if (!confirm('Xác nhận xoá\nQuyền thêm lịch sử hiến máu của thành viên này sẽ bị thu hồi.\nBạn chắc chứ?')) {
          return false;
        }
        var that = this;
        $.ajax({
          url: $(this).data('href'),
          method: 'DELETE',
          dataType: 'json',
          success: function(resp) {
            $(that).closest('tr').fadeOut('slow');
          },
          error: function(error) {
            showNotification(error.responseJSON.errors[0], 'danger');
          }
        });
      });
    });
  </script>
<% end %>
