<div class="container-fluid">
  <div class="row filter-row">
    <div class="col-md-12">
      <div class="user-stats stats-row">
        <%= render "stats", stats: @stats %>
      </div>
      <%= search_form_for @q, url: admin_administrator_accounts_path, method: :get, id: "admin-search",
        class: "navbar-form header-form navbar-right filter-form-customize" do |f| %>
        <% if params[:q] %>
          <%= link_to admin_administrator_accounts_path, class: "btn-clear-search" do %>
            <i class="fa fa-close"></i>
          <% end %>
        <% end %>
        <%= f.select :role_eq, @form.roles, {include_blank: "Tất cả"},
          {class: "form-control", title: "Lọc theo quyền truy cập"} %>
        <div class="form-group is-empty">
          <%= f.search_field :name_or_email_or_id_cont, class: "form-control",
            placeholder: "Tìm kiếm...", title: "Tìm kiếm theo tên, email hoặc ID" %>
            <span class="material-input"></span>
        </div>
        <button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i><div class="ripple-container"></div>
        </button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <tr>
                <th>
                  <%= sort_link @q, :id do %>
                    ID
                    <span class="<%= visible_unsorted_icon :id %>">&nbsp;
                      <i class="fa fa-unsorted"></i>
                    </span>
                  <% end %>
                </th>
                <th>Người Dùng</th>
                <th>
                  <%= sort_link @q, :gender do %>
                    Giới Tính
                    <span class="<%= visible_unsorted_icon :gender %>">&nbsp;
                      <i class="fa fa-unsorted"></i>
                    </span>
                  <% end %>
                </th>
                <th>
                  <%= sort_link @q, :role do %>
                    Quyền
                    <span class="<%= visible_unsorted_icon :role %>">&nbsp;
                      <i class="fa fa-unsorted"></i>
                    </span>
                  <% end %>
                </th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="results">
              <% if @users.any? %>
                <%= render partial: "admin/administrator_accounts/user", collection: @users.decorate %>
              <% else %>
                <tr>
                  <th colspan="6">Không có dữ liệu.</th>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :specific_page_js do %>
  <script type="text/javascript">
    <%= render "shared/submit_selectbox.js" %>
  </script>
<% end %>
