<div class="modal fade" id="register-place-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for [:admin, :ajax, place], class: "place-form", remote: true do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="material-icons">clear</i></button>
          <h4 class="modal-title">Đăng ký điểm hiến máu</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 error-msg-wrapper">
              <%= render "shared/error_messages", object: f.object %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group label-floating">
                <%= f.label :name, "Tên cơ sở", class: "control-label" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="form-group label-floating">
                <%= f.label :address, "Địa chỉ", class: "control-label" %>
                <%= f.text_field :address, class: "form-control lp-input", id: "place-address" %>
                <%= f.hidden_field :latitude, class: "lp-lat", id: "place-lat" %>
                <%= f.hidden_field :longitude, class: "lp-lon", id: "place-lon" %>
                <%= f.hidden_field :formatted_address, id: "place-formatted-address" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="checkbox float-left">
            <%= f.label :is_hospital do %>
              <%= f.check_box :is_hospital %><span class="checkbox-material"><span class="check"></span></span>
              Địa chỉ này là một bệnh viện?
            <% end %>
          </div>
          <%= f.button "Đóng", class: "btn btn-default", data: {dismiss: "modal"}, type: :button %>
          <%= f.button "Đăng Ký", class: "btn btn-primary", id: "btn-submit-place-form", type: :button %>
        </div>
      <% end %>
    </div>
  </div>
</div>
