<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-ld-4 col-md-4 col-sm-4">
          <div class="single_footer_widget">
            <h3><%= t ".about" %></h3>
            <p><%= t ".about_text" %></p>
          </div>
        </div>
        <div class="col-ld-4 col-md-4 col-sm-4">
          <div class="single_footer_widget">
            <h3><%= t ".links" %></h3>
            <ul class="footer_widget_nav">
              <li><a href="#"><%= t ".home" %></a></li>
              <li><a href="#"><%= t ".event" %></a></li>
              <li><a href="#"><%= t ".post" %></a></li>
              <li><a href="#"><%= t ".search" %></a></li>
              <li><a href="#"><%= t ".contact" %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-ld-4 col-md-4 col-sm-4">
          <div class="single_footer_widget">
            <h3><%= t ".social_links" %></h3>
            <ul class="footer_social">
              <li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Google+" class="soc_tooltip"  href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomLeft">
            <p>
              Designed by <a href="https://www.facebook.com/sontran.ds"><b>SonTran</b></a>.
              Copyright &copy; All Rights Reserved
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomRight">
            <p>Base on <a href="http://wpfreeware.com/" rel="nofollow">WpF Degree</a> Template</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
