<footer id="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-ld-4 col-md-4 col-sm-4">
          <div class="single_footer_widget">
            <h3><%= t ".about" %></h3>
            <p><%= t ".about_text" %></p>
          </div>
        </div>
        <div class="col-ld-4 col-md-4 col-sm-4">
          <div class="single_footer_widget">
            <h3><%= t ".links" %></h3>
            <ul class="footer_widget_nav">
              <li><%= link_to t(".home"), guest_home_path %></li>
              <li><%= link_to t(".event"), guest_events_path %></li>
              <li><%= link_to t(".post"), guest_articles_path %></li>
              <li><%= link_to t(".contact"), new_contact_path %></a></li>
              <% if current_user %>
                <li><%= link_to t(".profile"), profile_path %></li>
              <% else %>
                <li><%= link_to t(".login"), new_user_session_path, id: "login-link" %></li>
                <li><%= link_to t(".sign_up"), new_user_session_path, id: "sign-up-link" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-ld-4 col-md-4 col-sm-4">
          <div class="single_footer_widget">
            <h3><%= t ".social_links" %></h3>
            <ul class="footer_social">
              <li><a data-toggle="tooltip" data-placement="top" title="Facebook" class="soc_tooltip" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Twitter" class="soc_tooltip"  href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Google+" class="soc_tooltip"  href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a data-toggle="tooltip" data-placement="top" title="Youtube" class="soc_tooltip"  href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomLeft">
            <p>
              Developed by <a href="https://www.facebook.com/sontran.ds"><b>SonTran</b></a>.
              Copyright &copy; All Rights Reserved
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="footer_bootomRight">
            <p>Based on <a href="http://wpfreeware.com/" rel="nofollow">WpF Degree</a> Template</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
