<a class="scrollToTop" href="#"></a>

<header id="header">
  <div class="menu_area">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="<%= t "base_title" %>">Máu Nóng <span>Hiểu Và Thương</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
            <li class="<%= active_class guest_home_path %>">
              <%= link_to t(".home"), guest_home_path %>
            </li>
            <li class="<%= active_class guest_articles_path %>">
              <%= link_to t(".post"), guest_articles_path %>
            </li>
            <li class="<%= active_class guest_events_path %>">
              <%= link_to t(".event"), guest_events_path %>
            </li>
            <li><%= link_to t(".contact"), new_contact_path %></li>
            <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t ".account" %>&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li id="login-info" class="text-center">
                    <%= link_to "#", class: "normal-text" do %>
                      Đang đăng nhập dưới tên:<br>
                      <b><%= current_user.try :email %></b>
                    <% end %>
                  </li>
                  <% if current_user.admin? || current_user.limited? %>
                    <li><%= link_to t(".dashboard"), admin_root_path %></li>
                  <% end %>
                  <li><%= link_to t(".profile"), profile_path %></li>
                  <li><%= link_to t(".settings"), edit_profile_path %></li>
                  <li><%= link_to t(".sign_out"), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t(".login"), new_user_session_path, id: "login-link" %></li>
              <li><%= link_to t(".sign_up"), new_user_registration_path, id: "sign-up-link" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="yield-block"></div>
