<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "material/material-dashboard.css", media: "all" %>
    <%= stylesheet_link_tag "admin/main", media: "all" %>
    <%= stylesheet_link_tag "customize_alert.css", media: "all" %>
    <%= stylesheet_link_tag "customize_checkboxes.css", media: "all" %>

    <!-- Specific Page Vendor CSS -->
    <%= content_for :specific_page_css %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "layouts/admin_sidebar" %>
      <div class="main-panel">
        <%= render "layouts/admin_navbar" %>
        <div class="content">
          <%= yield %>
        </div>
        <%= render "layouts/admin_footer" %>
      </div>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "material/material.min.js" %>
    <%= javascript_include_tag "material/material-dashboard.js" %>
    <%= javascript_include_tag "admin/main" %>
    <script type="text/javascript">
      <%= render "shared/notify.js" %>
    </script>

    <!-- Specific Page Vendor JS -->
    <%= content_for :specific_page_js %>
  </body>
</html>
